.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 750px;
  min-width: 600px;
  width: 50%;
  height: 350px;
  padding: 35px 70px 51px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 20px;
}

input {
  padding: 1rem;
  width: 100%;
  max-width: 40rem;
  -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  border-radius: 10px;
}

input:focus {
  border-color: red;
  background-color: rgb(232, 215, 215);
}


