.user-item{
height: 60px;
background-color: white;
-webkit-box-shadow: 0 0 10px 0 rgba(249, 141, 141, 0.2);
border-radius: 10px;
margin-bottom: 20px;

display: flex;

}

.user-item div{
    width: 50%;
    margin: auto;
    text-align: center;
}